.tagline {
  line-height: 1.2;
}

.tagline-box {
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 767px) {
  .tagline {
    font-size: 25px;
  }
  .tagline-box {
    margin-left: 0px;
    margin-right: 0px;
  }
}
