.tagline {
  line-height: 1.2;
}

.tagline-box {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .big-blue-button {
    font-size: 30px;
    width: 250px;
  }
}

@media (max-width: 767px) {
  .tagline {
    font-size: 25px;
  }
  .tagline-box {
    margin-left: 0px;
    margin-right: 0px;
  }
  .big-blue-button {
    font-size: 25px;
    width: 200px;
  }
}
