.motivator {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.motivation {
  color: #2fa600;
  font-size: 100px;
  font-family: "Phosphate";
  margin-left: 10%;
  margin-right: 10%;
  font-weight: normal;
  line-height: 100%;
}

.another-motivator {
  background-color: #2fa600;
  font-family: "Phosphate";
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 5px;
  width: 250px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: normal;
}

.another-motivator:hover {
  background-color: #e7e7e7;
  color: black;
}

@media (max-width: 767px) {
  .motivation {
    font-size: 50px;
  }
}
