.now-text {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}

.logo {
  padding-top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .now-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 767px) {
  .now-text {
    margin-left: 5%;
    margin-right: 5%;
  }
}
