.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2em 2em;
  justify-content: center;
  justify-items: center;
}

.project-button {
  background-color: #138dff;
  font-family: "ChunkFive";
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 5px;
  width: 200px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: normal;
  margin-bottom: 25px;
  transition: background-color 1s;
}

.project-button:hover {
  background-color: #e7e7e7;
  color: black;
  transition: background-color 1s;
}

.portfolio-description {
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-button {
    font-size: 25px;
    width: 200px;
  }
  .portfolio-description {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.project-image img {
  --border: 10px; /* the border thickness*/
  --offset: 10px; /* control the offset*/
  --gap: 0px; /* the gap on hover */

  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
}

.project-image img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

.worthashot-image img {
  --color: #fdc500;
}

.saucesource-image img {
  --color: #ff7800;
}

@media (max-width: 767px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0em 0em;
  }
  .thumbnail {
    width: 350px;
  }
  .project-button {
    font-size: 20px;
    width: 150px;
    padding: 10px 10px;
  }
  .portfolio-description {
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
  .thumbnail {
    width: 500px;
  }
  .portfolio-grid {
    margin: 0em 0em;
  }
}
