.App {
  text-align: center;
}

h1 {
  font-family: "ChunkFive";
  font-size: 100px;
  font-weight: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

h2 {
  font-family: "ChunkFive";
  font-size: 40px;
  font-weight: normal;
}

.tagline {
  margin-left: 15%;
  margin-right: 15%;
}

@font-face {
  font-family: "ChunkFive";
  src: local("ChunkFive-Regular"),
    url(./fonts/ChunkFive-Regular.otf) format("opentype");
}

body {
  background-image: url("./images/tile.png");
  background-repeat: repeat-x-y;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.link {
  font-family: ChunkFive;
  padding: 1%;
  font-size: 30px;
  font-weight: normal;
}

a {
  color: #61dafb;
}

a:hover {
  color: white;
}
