.App {
  text-align: center;
}

h1 {
  font-family: "ChunkFive";
  font-size: 100px;
  font-weight: normal;
}

@font-face {
  font-family: "ChunkFive";
  src: local("ChunkFive-Regular"),
    url(./fonts/ChunkFive-Regular.otf) format("opentype");
}

body {
  background-image: url("./images/tile.png");
  background-repeat: repeat-x-y;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 1%;
}
