.app {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.title,
.tagline {
  font-family: "ChunkFive";
  font-size: 40px;
  font-weight: normal;
}

p {
  line-height: 1.5;
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-family: "Montserrat";
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.title {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.links a {
  text-decoration: none;
}

.link {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

/* Fonts */

@font-face {
  font-family: "ChunkFive";
  src: url(./fonts/ChunkFive-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Phosphate";
  src: url(./fonts/Phosphate-Inline.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.otf) format("opentype");
}

html {
  min-height: 100%;
  /* background-color: #000; */
}

body {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1),
    rgb(0, 44, 83),
    rgb(0, 89, 166),
    rgb(0, 128, 255)
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.big-blue-button {
  background-color: #138dff;
  font-family: "ChunkFive";
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: normal;
}

.big-blue-button:hover {
  background-color: #e7e7e7;
  color: black;
}

.link {
  font-family: ChunkFive;
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: rgb(126, 210, 255);
}

a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
    margin-block-start: 20px;
    margin-block-end: 20px;
  }
  body {
    background-attachment: scroll;
  }
}

.icon {
  padding: 10px;
}

.icon:hover {
  filter: drop-shadow(0px 0px 15px #ffffff);
}
